*{
    font-family: 'Roboto', sans-serif;
}

/* header stuff */
.user_pages{
  font-size: 18px;
}

body .text-dark, body .text-black, body .link-dark {
  color: #505050!important;
}
.nav-item{
  font-size: 14px;
}
.nav-item:hover{
    background-color:#eee;
}

.nav-menu.nav-link {
  font-size: 14px;
}
.nav-menu:hover > .bi {
    transform: scale(1.2); /* увеличение изображения */
  }
  
.nav-menu:hover {
    opacity: 0.7;
  }

/* main stuff */
  }
